<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
          <button type="button" class="btn center-block btn-lg" style="margin-top: 15px;">
            <span class="glyphicon glyphicon-user"></span> Sign in
          </button>
      </li>
      <app-category-list></app-category-list>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <app-category-detail></app-category-detail>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


